.background {
	color: #282a36 !important;
}

.currentLine {
	color: #44475a !important;
}

.foreground {
	color: #f8f8f2 !important;
}

.comment {
	color: #6272a4 !important;
}

.cyan {
	color: #8be9fd !important;
}

.green {
	color: #50fa7b !important;
}

.orange {
	color: #ffb86c !important;
}

.pink {
	color: #ff79c6 !important;
}

.purple {
	color: #bd93f9 !important;
}

.red {
	color: #ff5555 !important;
}

.yellow {
	color: #f1fa8c !important;
}



