.fullscreen {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.alert-fixed {
	position:fixed !important;
	top: 1em !important; 
	width: 30%;
	z-index:9999; 
}

input {
	margin-bottom: -1px !important;
	background-color: #282a36 !important;
	border-color: #3e4154 !important;
	color: #f8f8f2 !important;
}

.topInput {
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

.middleInput {
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

.bottomInput {
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

.form-background {
	background-color: #323542 !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.formFooterText {
	color: #8e8e8e !important;
	background:none;
	border:none;
	margin:0;
	padding:0;
}


textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}
