.aceEditor {
	position: absolute;
	top: 0;
	left: 0;
}

.foregroundEditor {
	background-color: transparent;
}

.aceEditorContainer {
	position: relative;
	width: 500px; /* defaults for ace editor for now */
	height: 500px;
}

.backgroundEditor .ace_line {
	color: #757575;  /* mui grey 600 */
}

.ace_selection {
	background: #75757599 !important; /* mui grey 600 */
}

.error-marker {
	background: #c62828; /* mui red 800 */
	position: absolute;
}
